TG_BOT_TOKEN=
TG_SOURCE_CHAT_ID=
TG_ADMIN_ID=

VK_GROUP_ID=
VK_STORAGE_STATE_PATH=vk_storage_state.json
VK_BROWSER_HEADLESS=true
VK_BROWSER_CHANNEL=
VK_BROWSER_TIMEOUT_SEC=60
VK_MEDIA_TMP_DIR=.vk_media_tmp

STATE_DB_PATH=bridge_state.db
REPOST_ALL_POSTS=true
